* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("retro.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  /* background-color:  #000; */
  font-family: "Press Start 2P", cursive;
  /* font-weight: bolder; */
}

.players {
  font-size: 10px;
  font-family: "Press Start 2P", cursive;
  color: #fff;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 3rem;
  padding-top: 5rem;
  padding-left: 2rem;
}

.hand-btns {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  
}

.btn:hover {
  background-color: transparent;
  border-color: #14ffec;
  color: #fff;
  box-shadow: 0.5em 0.5em 3rem #14ffec;
}

.hand-btns button {
  background-color: #14ffec;
  font-family: "Press Start 2P", cursive;
  font-size: 1.2rem;
  padding: 20px 20px;
  border-radius: 1rem;
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-bottom: 3rem;
}

.score_labels{
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: right;
  color: #fff;
  padding-right: 7rem;
  gap: 3rem;
  font-size: 10px;
}
.scoreboard{
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: right;
  color: #fff;
  padding-right: 7rem;
  gap: 3rem;
  font-size: 10px;
}